# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore SQLite database
scraper_db.db

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore files directory
scraped_results/
scraped_results/
